header #logoDuSite
{
  width: 100px;
}

header div label
{
  display: inline;
}

section
{
  margin-top: 15px;
}

footer {
  margin-top: 50px;
}

section table tr td a {
  width: 100%;
}

#discussions {
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}

#conversation {
  border-radius: 10px;
  padding-bottom: 10px;
}

#conversation #messageArea {
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

#conversation .panel .panel-body .alert-success{
  text-align: right;
}

#conversation form textarea {
  resize:none;
}

@media only screen and (max-device-width:800px) {
  #discussions {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
  }

  #discussions h3 {
    font-size: 1em;
  }

  section table tr td a {
  }
}

#log button
{
  margin-bottom: 0px;
}
/*
body {
  padding-top: 10px;
}
[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}*/