header
{
	background: rgb(180,20,117);
}

header div label
{
	color: white;
	font-size: 2em;
}

#log a
{
	color: white;
}

section table tr td .btn {
	text-align: left;
}

footer nav div ul li a {
	background: rgb(180,20,117);
	color: white;
}

#conversation {
 	background-color: rgb(180,20,117);
 	border-radius: 10px;
 	padding-bottom: 10px;
}

#conversation h3 {
	color: white;
}