.container header nav div
{
	background: rgb(180,20,117);
}

.container header nav div div :focus span
{
	color: #2b4170;
}

.container header nav div div span
{
	color: white;
}

.container header nav div div .active span
{
	color: #2b4170;
}

#log a
{
	color: white;
}

/*#discussions table tbody tr td .btn {
	background: rgb(180,20,117);
	color: white;
}*/

footer nav div ul li a {
	background: rgb(180,20,117);
	color: white;
}

#conversation .modal-dialog .modal-content {
 	background: rgb(180,20,117);
}

#conversation h3 {
	color: white;
}

footer .panel-body {
	background: rgb(180,20,117);
	color: white;
}
