<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <!-- Partie obligatoire pour l'acces aux Servlets -->
  <!-- <servlet>
  <servlet-name>invoker</servlet-name>
  <servlet-class>
  org.apache.catalina.servlets.InvokerServlet
</servlet-class>
<init-param>
<param-name>debug</param-name>
<param-value>0</param-value>
</init-param>
<load-on-startup>2</load-on-startup>
</servlet>

<servlet-mapping>
<servlet-name>invoker</servlet-name>
<url-pattern>/servlet/*</url-pattern>
</servlet-mapping> -->

<servlet>
  <servlet-name>invoker</servlet-name>
  <servlet-class>org.apache.catalina.servlets.InvokerServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>invoker</servlet-name>
  <url-pattern>/servlet/*</url-pattern>
</servlet-mapping>

<!-- Parametrages propres a cette application web -->
<context-param>
  <param-name>concepteur</param-name>
  <param-value>Remy FEVRE et Julien LELEU, LP DA2I</param-value>
  <description>
    Constantes de l'appli accessibles par getServletContext().getInitParameter("name");
  </description>
</context-param>

<error-page>
  <error-code>403</error-code>
  <location>/erreur.jsp?message=Cette page ne vous est pas accessible
  </location>
</error-page>
<error-page>
  <error-code>404</error-code>
  <location>/erreur.jsp?message=Page inexistante</location>
</error-page>
<error-page>
  <error-code>500</error-code>
  <location>/erreur.jsp?message=BDD ou Beans inaccessibles</location>
</error-page>

<!-- <resource-ref>
  <description>Connexion a un serveur SMTP</description>
  <res-ref-name>mail/Session</res-ref-name>
  <res-type>javax.mail.Session</res-type>
  <res-auth>Container</res-auth>
</resource-ref> -->

<session-config>
  <session-timeout>15</session-timeout>
</session-config>

<welcome-file-list>
  <welcome-file>/logged/conversations.jsp</welcome-file>
</welcome-file-list>

<security-constraint>
  <web-resource-collection>
    <web-resource-name>autorisationAll</web-resource-name>
    <url-pattern>/css/*</url-pattern>
    <url-pattern>/res/*</url-pattern>
    <url-pattern>/js/*</url-pattern>
    <url-pattern>/lib/*</url-pattern>
    <url-pattern>/erreur.jsp</url-pattern>
    <url-pattern>/confirmation.jsp</url-pattern>
    <url-pattern>/servlet/Inscription</url-pattern>
    <url-pattern>/servlet/Test</url-pattern>
    <url-pattern>/servlet/TestMail</url-pattern>
  </web-resource-collection>
</security-constraint>

<security-constraint>
  <web-resource-collection>
    <web-resource-name>autorisationLogged</web-resource-name>
    <url-pattern>/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
    <role-name>logged</role-name>
  </auth-constraint>
</security-constraint>

<!-- La maniere dont la page de login est affichee -->
<login-config>
  <auth-method>FORM</auth-method>
  <form-login-config>
    <form-login-page>/login.jsp</form-login-page>
    <form-error-page>/login.jsp?message="La connexion a echouée"</form-error-page>
  </form-login-config>
</login-config>

<!-- La liste des differents roles -->
<security-role>
  <role-name>logged</role-name>
</security-role>
<security-role>
  <role-name>undef</role-name>
</security-role>
</web-app>
